window {
  margin: 0;
  background-color: #282a36;
  border: 1px solid #bd93f9;
  color: #ababab;
  border-radius: 10px;
}

#input {
  margin: 5px;
  background-color: #44475a;
  color: #f8f8f2;
  border: none;
}

#inner-box,
#outer-box {
  margin: 5px;
  background-color: #282a36;
  border: none;
}

#entry:selected {
  background-color: #44475a;
  border: 1px solid #bd93f9;
  border-radius: 5px;
}
