@define-color background-darker #240012;
@define-color background #000000;
@define-color red #ff5555;

* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
    opacity: 0.9;
    background: @background;
    color: @foreground;
    border-bottom: 2px solid @background-darker;
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @background-darker);
}
